{% extends "base.html" %}
{% block content %}


<div class="container">
	<br>
	<div id="menu">
		<a href="/card/{{ card.id }}/edit/">Edit</a><br>
    <a href="/card/{{ card.id }}/delete/">Delete</a>
	</div>
	
	
	<div class="card">
		<div class="front">
			<h6>CUE | Deck: {{ deck.name }}</h6>
			<p>{{ card.front }}</p><br>
		</div>
	
		<div class="back">
			<h6>ANSWER</h6>
			<p>{{ card.back }}</p><br>
		</div>
	</div>
		
	<a href="/review_stack/previous_card/">Previous Card</a>
	<a href="/card/{{ card.id }}/review/?review_result=fail">Fail</a>
	<a href="/card/{{ card.id }}/review/?review_result=pass">Pass</a>
</div>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script>
  $(document).ready(function(){
    $('.card').click(function(){
     $('.back').animate({height: "toggle", opacity: "toggle"});
     $('.front').animate({height: "toggle", opacity: "toggle"});
    });
  });
</script> -->


{% endblock %}