{% extends "base.html" %}
{% block content %}


<div class="container">
	<br>
	<div id="menu">
		<a href="/card/{{ card.id }}/edit/">Edit</a><br>

	</div>
	
	
	<div class="card">
		<div class="front">
			<h6>CUE | Deck: {{ deck.name }}</h6>
			<p>{{ card.front|linebreaksbr }}</p><br>
		</div>
	
		<div class="back">
			<h6>ANSWER</h6>
			<p>{{ card.back|linebreaksbr }}</p><br>
		</div>
	</div>
		
	<a href="/review_stack/previous_card/">Previous Card</a>
	<a href="/card/{{ card.id }}/review/?review_result=fail">Fail</a>
	<a href="/card/{{ card.id }}/review/?review_result=pass">Pass</a>
</div>


{% endblock %}