{% extends "base.html" %}
{% block content %}


<div class="container">
	<div id="menu">
		<h2>Card {{ card.id }}</h2>
	  	<p>Created: {{ card.date_created }}</p>
	  	<p>Reviewed: {{ card.date_stage_started }}</p>
	  	<p>Stage: {{ card.stage }}</p>
	  	<a href="/card/{{ card.id }}/edit/">Edit</a><br>
	  	<a href="/card/{{ card.id }}/delete/">Delete</a><br>
	</div>
	
	<div id="main">
		<div class="card">
			<div class="front">
				<h5>CUE</h5>
				<p>{{ card.front }}</p><br>
			</div>
		
			<div class="back">
				<h5>ANSWER</h5>
				<p>{{ card.back }}</p><br>
			</div>
		
			<div class='hint'>
				<h5>HINT</h5>
				<p>{{ card.hint }}</p><br>
			</div>
		</div>
		<a href="/review_stack/previous_card/">Previous Card</a>
		<a href="/card/{{ card.id }}/review/?review_result=fail">Fail</a>
		<a href="/card/{{ card.id }}/review/?review_result=pass">Pass</a>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script>
  $(document).ready(function(){
    $('.card').click(function(){
     $('.back').animate({height: "toggle", opacity: "toggle"});
     $('.front').animate({height: "toggle", opacity: "toggle"});
    });
  });
</script>


{% endblock %}