{% extends "base.html" %}
{% block content %}

<br>
<div class="container">
	<h2>Deck: {{ deck.name }}</h2>
	<div class="menu">
	  	<a
          {% if cards_due > 0 %}
            href="/deck/{{ deck.id }}/review_cards_due/"
          {% endif %}
      >
	  		You have {{ cards_due }} cards due for review.<br></a>
	  	<a href="/deck/{{ deck.id }}/review_all/">Review all cards</a><br>
	  	<a href="/deck/{{ deck.id }}/new_card/">Add new card</a><br>
	</div>
	<br>
	<div class="main">
		<h4>Cards</h4>
	{% for card in cards %}
		<a href="/card/{{ card.id }}/edit/">{{ card }}</a><br>
	{% endfor %}
	</div>
</div>

{% endblock %}