{% extends "base.html" %}
{% block content %}

<div class="container">
	<h2>{{ deck.name }}</h2>
	<div class="menu">
	  	<a href="/deck/{{ deck.id }}/review_cards_due/">
	  		You have {{ cards_due }} cards due for review.<br></a>
	  	<a href="/deck/{{ deck.id }}/review_all/">Review all cards</a><br>
	  	<a href="/card/new/">Add new card</a><br>
	</div>
	<br>
	<div class="main">
		<h4>Cards</h4>
	{% for card in cards %}
		<a href="/card/{{ card.id }}/review/">{{ card.front }}</a><br>
	{% endfor %}
	</div>
</div>

{% endblock %}