{% extends 'base.html' %}
{% block content %}

<div class="container">
	<br>
	<div class="menu">

	  	<div class="alert alert-info" role="alert">
	      You have <a
	      {% if cards_due > 0 %}
	        href="/card/review_cards_due/"
	      {% endif %}
	      class="alert-link">{{ cards_due }} cards</a> due for review.
      	</div>


	  	<br>
	  	<a href="/deck/new">Add new deck</a>
	</div>
	<div class="clr"></div>
	{% for deck in decks %}
	<div class="decks">
		<a href="/deck/{{ deck.id }}">{{ deck.name }}</a>
	</div>
	{% endfor %}
</div>

{% endblock %}