{% extends "base.html" %}
{% block content %}

<div class="jumbotron" id="cue_card_background">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-5">
      <div class="card">
		<div class="front">
			<h6>CUE</h6>
            <H2>How do I learn stuff permanently?</H2>
            <small>click card to see answer</small>
		</div>

		<div class="back">
			<h6>ANSWER</h6>
          <H5>Using Memit.ca!</H5><H5>With memit you can make and review cue-cards. Memit reminds
              you when to review the cards so that you won't forget anything you learned.</H5><br>
		</div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="login_page">
        <div class="form">
          <form class="login-form" method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>

                {{ field }}

                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">Sign up</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>

  </div>
</div>




{% endblock %}
