{% extends "base.html" %}
{% block content %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script>
  $(document).ready(function(){
    $('.message a').click(function(){
     $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
  });
</script>-->


<div class="login_page">
  <div class="form">
    <form class="login-form" method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">sign in</button>
      <p class="message">Not registered? <a href="/signup">Create an account</a></p>
    </form>
  </div>
</div>


{% endblock %}