<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script type=text/javascript src="{{
  url_for('static', filename='static/login.js') }}"></script>

<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>