/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */
/*
body {
  margin:0;
  background: #76b852; /* fallback for old browsers */ /*
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  /* font-family: "Roboto", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */ /*
} */

body {
  background: #F8F8F8;
}

#cue_card_background {
    background-image: url('../img/cue_cards_1280x853.jpeg');
    /* opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    background-repeat: no-repeat;
    background-position: center;
}




.clr{
  clear:both;
}



.decks {
  text-align: center;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 15px auto;
  padding: 10px;
  background-image: url('../img/card_stack.png');
}

.decks a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  margin: 0 auto;
}

.card {
  max-width: 1000px;
  min-height: 240px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 1.3em auto 20px auto;
  padding: 2em;
  box-sizing: border-box;
  font-size: 1em;
}

.card .back {
  display: none;
}

.card .hint {
  display: none;
}

.card p {
  padding: 0.5em 0;
}

.card h6 {
  padding: 0;
  margin: 0;
  color: #aaa;
  text-align: left;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}

.login_page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 1000px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5px;
  padding: 10px 10px 10px .9em;
  box-sizing: border-box;
  font-size: .9em;
}
.login_page .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0275d8;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login_page .form button:hover,
.login_page .form button:active,
.login_page .form button:focus {
  background: #025aa5;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #025aa5;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .login_page {
  width: 100%;
  padding: 8% 0 0;
  margin: auto;
}
}

/* @media(max-width: 600px){
  #main{
    width:100%;
    float:none;
  }

  #sidebar{
    width:100%;
    float:none;
  }
} */